<nav class="bar">
  <span class="p-buttonset">
    <button
      pButton
      type="button"
      label="ILOSC_OSOB"
      class="p-button-secondary p-button-outlined"
      label="{{ books.length }}"
      icon="pi pi-book"
      badge="8"
      badgeClass="p-badge-info"
    ></button>
    <button
      pButton
      type="button"
      label="WYSZUKAJ"
      (click)="toggleSearch()"
      class="p-button-secondary p-button-outlined"
      icon="pi pi-search"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-plus-circle"
      label="DODAJ KSIĄŻKĘ"
      (click)="toggleAddBar()"
      class="p-button-secondary p-button-outlined"
    ></button>
  </span>
  <!-- search bar -->
  <div [hidden]="showSearch">
    <div class="p-inputgroup">
      <button
        type="button"
        pButton
        pRipple
        (click)="booksSearch(searchedValue)"
        icon="pi pi-search"
        class="p-button-secondary p-button-outlined"
      ></button>
      <input
        type="text"
        pInputText
        [(ngModel)]="searchedValue"
        ngDefaultControl
        placeholder="Wyszukaj książkę"
        class="p-button-secondary"
        (ngModelChange)="booksSearch(searchedValue)"
      />
    </div>
  </div>
  <div [hidden]="showAdd">
    <div class="p-inputgroup">
      <button
        type="button"
        pButton
        pRipple
        (click)="addBook()"
        icon="pi pi-chevron-circle-right"
        class="p-button-secondary p-button-outlined"
      ></button>
      <input
        type="text"
        [(ngModel)]="autorInput"
        placeholder="Autor"
        ngDefaultControl
      />
      <input
        type="text"
        [(ngModel)]="nazwaInput"
        placeholder="Nazwa"
        ngDefaultControl
      />
      <input
        type="number"
        [(ngModel)]="rokInput"
        placeholder="Rok"
        ngDefaultControl
      />
      <input
        type="number"
        [(ngModel)]="dostepnoscInput"
        placeholder="Dostępność"
        ngDefaultControl
      />
    </div>
  </div>
</nav>

<!-- koniec panelu -->
<hr />
<p-table
  [value]="books"
  [scrollable]="true"
  scrollHeight="600px"
  styleClass="p-datatable-striped"
  ngDefaultControl
>
  <ng-template pTemplate="header">
    <tr>
      <th style="max-width: 5%">ID</th>
      <th pSortableColumn="autor" class="dane">
        AUTOR <p-sortIcon field="autor"></p-sortIcon>
      </th>
      <th class="dane2">TYTUŁ</th>
      <th pSortableColumn="rokWydania" class="dane">
        ROK WYDANIA<p-sortIcon field="rokWydania"></p-sortIcon>
      </th>
      <th pSortableColumn="dostepnosc">
        DOSTĘPNOŚĆ<p-sortIcon field="dostepnosc"></p-sortIcon>
      </th>
      <th class="bttns"></th>
      <th class="bttns"></th>
      <th class="bttns"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <tr>
      <td style="max-width: 5%">{{ book.id }}</td>
      <td class="dane">{{ book.autor }}</td>
      <td class="dane2">
        <b>{{ book.nazwa }}</b>
      </td>
      <td class="dane">{{ book.rokWydania }}</td>
      <td>{{ book.dostepnosc }}</td>
      <!-- more book info at /id -->
      <td class="bttns">
        <button
          [routerLink]="book.id"
          pButton
          pRipple
          type="button"
          icon="pi pi-search-plus"
          class="p-button-rounded p-button-text p-button-info p-button-sm"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
