<span class="p-buttonset">
  <button
    pButton
    p-button-text
    type="button"
    label="dłużnicy: {{ peopleWithLoans }}"
    icon="pi pi-user"
    class="p-button-secondary p-button-outlined"
  ></button>
  <button
    pButton
    p-button-text
    type="button"
    label="wypozyczenia: {{ loans.length }}"
    icon="pi pi-book"
    class="p-button-secondary p-button-outlined"
  ></button>
</span>
<hr />
<p-table
  [value]="loans"
  [scrollable]="true"
  scrollHeight="600px"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="Person.id" class="bttnsSort upprText">
        id<p-sortIcon field="Person.id"></p-sortIcon>
      </th>
      <th class="dane upprText">imię</th>
      <th class="dane upprText">nazwisko</th>
      <th class="bttnsID upprText"></th>

      <th pSortableColumn="Book.nazwa" class="dane2 upprText">
        nazwa książki<p-sortIcon field="Book.nazwa"></p-sortIcon>
      </th>
      <th class="dane2 upprText">autor</th>
      <th></th>
      <th class="bttns"></th>
      <th class="bttns"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-loan>
    <tr>
      <td class="bttnsID">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-user"
          label="{{ loan.Person.id }}"
          class="p-button-rounded p-button-text p-button-info p-button-sm"
          routerLink="/osoby/{{ loan.Person.id }}"
        ></button>
      </td>
      <td class="dane">{{ loan.Person.imie }}</td>
      <td class="dane">
        <b>{{ loan.Person.nazwisko }}</b>
      </td>
      <td class="bttnsID"></td>
      <td class="dane2">
        <b>{{ loan.Book.nazwa }}</b>
      </td>
      <td class="dane2">{{ loan.Book.autor }}</td>
      <td></td>

      <td class="bttns">
        <button
          routerLink="/osoby/{{ loan.Person.id }}"
          pButton
          pRipple
          type="button"
          icon="pi pi-user"
          class="p-button-rounded p-button-text p-button-info p-button-sm"
        ></button>
      </td>
      <td class="bttns">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-dollar"
          class="p-button-rounded p-button-text p-button-success p-button-sm"
          (click)="returnBook(loan.Loan.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
