.form-input {
  height: 50px;
  margin-top: 20px;
  width: 100%;
}
.container {
  margin-top: 25px;
  margin-left: 50px;
  flex-direction: column;
  display: flex;
}
ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 25px;
  padding: 2px;
}
div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bttnsSort {
  max-width: 6%;
}
