<nav class="bar">
  <span class="p-buttonset">
    <button
      pButton
      p-button-text
      type="button"
      label="LISTA OSOB"
      icon="pi pi-list"
      class="p-button-warning p-button-outlined"
      (click)="toggleList()"
    ></button>
    <button
      pButton
      type="button"
      label="ILOSC_OSOB"
      class="p-button-warning p-button-outlined"
      label="{{ persons.length }}"
      icon="pi pi-users"
      badge="8"
      badgeClass="p-badge-info"
    ></button>
    <button
      pButton
      type="button"
      label="WYSZUKAJ"
      class="p-button-warning p-button-outlined"
      icon="pi pi-search"
      (click)="toggleSearch()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-user-plus"
      label="DODAJ OSOBĘ"
      class="p-button-warning p-button-outlined"
      (click)="toggleAddBar()"
    ></button>
  </span>
  <div class="col-12 md:col-4" [hidden]="showSearch">
    <div class="p-inputgroup">
      <button
        type="button"
        pButton
        pRipple
        (click)="personSearch(searchedValue)"
        icon="pi pi-search"
        class="p-button-warning p-button-outlined"
      ></button>
      <input
        (keydown.enter)="personSearch(searchedValue)"
        type="text"
        pInputText
        [(ngModel)]="searchedValue"
        placeholder="Wyszukaj osobę"
        class="p-button-warning"
        (ngModelChange)="personSearch(searchedValue)"
      />
    </div>
  </div>
  <!-- Dodawanie osoby -->
  <div [hidden]="showAdd">
    <div class="p-inputgroup">
      <button
        type="button"
        pButton
        pRipple
        (click)="addPerson()"
        icon="pi pi-user-plus"
        class="p-button-warning p-button-outlined"
      ></button>
      <input type="text" [(ngModel)]="nameInput" placeholder="Imie" />
      <input type="text" [(ngModel)]="surnameInput" placeholder="Nazwisko" />
    </div>
  </div>
  <!-- panel edycji osoby -->
  <div [hidden]="editContext == null">
    <div class="p-inputgroup">
      <button
        type="button"
        pButton
        pRipple
        (click)="updatePerson()"
        icon="pi pi-pencil"
        class="p-button-warning p-button-outlined"
      ></button>
      <input type="text" [(ngModel)]="nameInput" placeholder="Imie" />
      <input type="text" [(ngModel)]="surnameInput" placeholder="Nazwisko" />
    </div>
  </div>
</nav>

<!-- koniec panelu -->
<hr />
<p-table
  [hidden]="showList"
  [value]="persons"
  [scrollable]="true"
  scrollHeight="600px"
  [(ngModel)]="getAllPersons"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="max-width: 5%">ID</th>
      <th class="dane">IMIE</th>
      <th class="dane">NAZWISKO</th>
      <th></th>
      <th class="editBttns"></th>
      <th class="editBttns"></th>
      <th class="editBttns"></th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-person
    let-product
    let-editing="editing"
    let-ri="rowIndex"
  >
    <tr [pEditableRow]>
      <td class="editBttns">
        <b>{{ person.id }}</b>
      </td>
      <td class="dane">{{ person.imie }}</td>

      <td class="dane">
        <b>{{ person.nazwisko }}</b>
      </td>
      <td></td>
      <!-- guzik dodanie -->
      <td class="editBttns">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-rounded p-button-text p-button-success p-button-sm"
          [routerLink]="person.id"
        ></button>
      </td>
      <!-- guzik edycje -->
      <td class="editBttns">
        <button
          pButton
          (click)="toggleEditBar(person)"
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text p-button-info p-button-sm"
        ></button>
      </td>
      <!-- guzik usuwanie -->
      <td style="max-width: 5%">
        <button
          pButton
          pRipple
          type="button"
          (click)="deletePerson(person.id)"
          icon="pi pi-times"
          class="p-button-rounded p-button-text p-button-danger p-button-sm"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
