<!-- todo przestawić w vsc aby tak nie formatował i nie dodawal / do znacznikó np <hr> -->
<p-toolbar>
  <nav class="p-toolbar-group-left" routerLink="/" (click)="mainPage = true">
    <h1 class="toolbar">
      <i class="pi pi-book" pBadge style="font-size: 2rem" value="2"></i>
      Biblioteka
    </h1>
  </nav>
  <nav class="p-toolbar-group-right btnMenu">
    <p-button
      label="książki"
      styleClass="{{ ksiazkaButton }}"
      routerLink="/ksiazki"
      icon="pi pi-book"
      class="toolbar btnMenu"
      (onClick)="button()"
    ></p-button>
    <p-button
      label="osoby"
      styleClass="{{ osobaButton }}"
      routerLink="/osoby"
      icon="pi pi-user"
      class="toolbar"
      (onClick)="button()"
    ></p-button>
    <p-button
      label="wypożyczenia"
      styleClass="{{ wypozyczeniaButton }}"
      routerLink="/wypozyczenia"
      icon="pi pi-align-justify"
      class="toolbar"
      (onClick)="button()"
    ></p-button>
    <p-button
      label="opłaty"
      styleClass="{{ oplatyButton }}"
      routerLink="/oplaty"
      icon="pi pi-align-justify"
      class="toolbar"
      (onClick)="button()"
    ></p-button>
  </nav>
</p-toolbar>
<hr />
<nav *ngIf="mainPage">
  <div>Projekt biblioteki</div>
</nav>
<router-outlet></router-outlet>
