<h1>Biblioteka</h1>
<!-- guziory -->

<nav type-allign>
  <span class="p-buttonset">
    <button
      pButton
      type="button"
      routerLink="/ksiazki"
      label="KSIAZKI"
      class="p-button-warning"
    ></button>
    <button
      pButton
      type="button"
      routerLink="/osoby"
      label="OSOBY"
      class="p-button-warning"
    ></button>
    <button
      pButton
      type="button"
      routerLink="/wypozyczenia"
      label="WYPOZYCZENIA"
      class="p-button-warning"
      onFocus=""
    ></button>
    <button
      pButton
      type="button"
      routerLink="/oplaty"
      label="OPLATY"
      class="p-button-warning"
    ></button>
  </span>
</nav>
<hr />

<router-outlet></router-outlet>
