<!-- guziory -->
<p-toolbar>
  <nav class="p-toolbar-group-left">
    <h1 class="toolbar">
      <i class="pi pi-book" pBadge style="font-size: 2rem" value="2"></i>
      Biblioteka
    </h1>
  </nav>
  <nav class="p-toolbar-group-right">
    <p-button
      label="KSIĄŻKI"
      styleClass="{{ ksBtn }}"
      routerLink="/ksiazki"
      icon="pi pi-book"
      class="toolbar"
      (onClick)="button('ksiazki')"
    ></p-button>
    <p-button
      label="OSOBY"
      styleClass="{{ osBtn }}"
      routerLink="/osoby"
      icon="pi pi-user"
      class="toolbar"
      (onClick)="button('osoby')"
    ></p-button>
    <p-button
      label="WYPOŻYCZENIA"
      styleClass="{{ loBtn }}"
      routerLink="/wypozyczenia"
      icon="pi pi-align-justify"
      class="toolbar"
      (onClick)="button('wypozyczenia')"
    ></p-button>
  </nav>
</p-toolbar>
<hr />

<router-outlet></router-outlet>
