.loans-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.button-container {
  align-content: center;
  justify-content: space-around;
  display: flex;
}
ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 25px;
  padding: 2px;
}
div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

/* .name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  justify-content: center;
} */
.name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 50px;
  font-size: 30px;
  justify-items: center;
}

.bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .refund {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  justify-content: center;
} */
.refund {
  gap: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: right;
  padding-right: 50px;
  font-size: 20px;
  float: right;
}

.dane {
  max-width: 50%;
}
.dane2 {
  max-width: 20%;
}
.dane3 {
  max-width: 25%;
}

.bttns {
  max-width: 10%;
}
