<div *ngIf="!person; else content">nie ma</div>

<ng-template #content>
  <h1>{{ person?.imie }} {{ person?.nazwisko }}</h1>
  <br />
  <div class="button-container">
    <button (click)="switchContent()">
      {{ showAddContent ? "Zakończ" : "Wypożycz" }}
    </button>
  </div>
  <div class="loans-container" *ngIf="!showAddContent; else addContent">
    <div>
      <p>oddane ksiazki</p>
      <ul *ngFor="let l of loansHistory">
        <li>
          {{
            l.Book.nazwa +
              " | od -" +
              l.Loan.dataPrzyjecia.toLocaleString() +
              " - do - " +
              l.Loan.dataOddania?.toLocaleString()
          }}
        </li>
      </ul>
    </div>
    <div>
      <p>wypozyczone ksiazki</p>
      <ul *ngFor="let l of activeLoans">
        <li>
          {{
            l.Book.nazwa + " | od - " + l.Loan.dataPrzyjecia.toLocaleString()
          }}
          <button (click)="returnBook(l.Loan.id)">Oddaj</button>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #addContent class="button-container">
    <ul *ngFor="let book of books">
      <li>
        {{ book.nazwa }} <button (click)="loanBook(book.id)">Wypożycz</button>
      </li>
    </ul>
  </ng-template>
</ng-template>
