<div *ngIf="!person; else content" style="text-align: center">
  <h3>Nie znaleziono osoby z ID: "{{ this.id }}"!</h3>
  <button
    pButton
    pRipple
    type="button"
    label="Powrót"
    onClick="history.go(-1)"
    class="p-button-warning"
  ></button>
</div>

<ng-template #content>
  <div class="name">
    {{ person?.imie }}
    <b>{{ person?.nazwisko }} </b>
  </div>
  <br />
  <p-toggleButton
    (click)="switchContent()"
    onLabel="Zakończ"
    offLabel="Wypożycz "
    class="button-container"
    offIcon="pi pi-arrow-up"
    onIcon="pi pi-arrow-down"
    [style]="{ width: '100%' }"
  >
    {{ showAddContent ? "Zakończ" : "Wypożycz" }}
  </p-toggleButton>
  <hr />

  <div class="loans-container" *ngIf="!showAddContent; else addContent">
    <div style="width: 48%">
      <!-- left table -->
      <p-table
        [value]="loansHistory"
        [scrollable]="true"
        scrollHeight="550px"
        styleClass="p-datatable-striped"
      >
        <ng-template
          pTemplate="caption"
          class="name"
          style="text-align: center"
        >
          <h3 style="text-align: center">
            ODDANE KSIĄŻKI
            <p-tag
              value="{{ loansHistory.length }}"
              severity="warning"
              [rounded]="true"
            ></p-tag>
          </h3>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="dane">TYTUŁ KSIĄŻKI</th>
            <th class="dane2">DATA PRZYJĘCIA</th>
            <th class="dane2">DATA ODDANIA</th>
            <th class="bttns"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loans>
          <tr>
            <td class="dane">
              <b>{{ loans.Book.nazwa }}</b>
            </td>
            <td class="dane2">
              {{ loans.Loan.dataPrzyjecia.toLocaleString() }}
            </td>
            <td class="dane2">{{ loans.Loan.dataOddania.toLocaleString() }}</td>
            <td class="bttns"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- right table -->
    <div style="width: 48%">
      <p-table
        [value]="activeLoans"
        [scrollable]="true"
        scrollHeight="550px"
        styleClass="p-datatable-striped"
      >
        <ng-template
          let-loans
          pTemplate="caption"
          class="name"
          style="text-align: center"
        >
          <h3 style="text-align: center">
            WYPOŻYCZONE KSIĄŻKI
            <p-tag
              value="{{ activeLoans.length }}"
              severity="warning"
              [rounded]="true"
            ></p-tag>
          </h3>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="dane">TYTUŁ KSIĄŻKI</th>
            <th class="dane2">DATA PRZYJĘCIA</th>
            <th class="dane2">DATA ODDANIA</th>
            <th class="bttns"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loans>
          <tr>
            <td class="dane">
              <b>{{ loans.Book.nazwa }}</b>
            </td>
            <td class="dane2">
              {{ loans.Loan.dataPrzyjecia.toLocaleString() }}
            </td>
            <td class="dane2">--</td>
            <td class="bttns">
              <button
                pButton
                pRipple
                (click)="returnBook(loans.Loan.id)"
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-outlined p-button-danger p-button-sm"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- wypozyczanie -->
  <ng-template #addContent class="button-container">
    <div style>
      <p-table
        [value]="books"
        [scrollable]="true"
        scrollHeight="550px"
        styleClass="p-datatable-striped"
      >
        <ng-template
          pTemplate="caption"
          class="name"
          style="text-align: center"
        >
          <h3 style="text-align: center">KSIĄŻKI DO WYPOŻYCZENIA</h3>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="data3">TYTUŁ KSIĄŻKI</th>
            <th class="data3">AUTOR</th>
            <th class="data3">DOSTĘPNOŚĆ</th>
            <th class="bttns"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
          <tr>
            <td class="data3">
              <b>{{ book.nazwa }}</b>
            </td>
            <td class="data3">
              {{ book.autor }}
            </td>
            <td class="data3">
              {{ book.dostepnosc }}
            </td>
            <td class="bttns">
              <button
                pButton
                pRipple
                (click)="loanBook(book.id)"
                type="button"
                icon="pi pi-chevron-down"
                class="p-button-rounded p-button-outlined p-button-success p-button-sm"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</ng-template>
