<div *ngIf="!person; else content" style="text-align: center">
  <h3>Nie znaleziono osoby z ID: "{{ this.id }}"!</h3>
  <button
    pButton
    pRipple
    type="button"
    label="Powrót"
    onClick="history.go(-1)"
    class="p-button-secondary"
  ></button>
</div>

<ng-template #content>
  <nav class="name">
    <b>{{ person?.id }}</b>
    {{ person?.imie }}
    <b>{{ person?.nazwisko }} </b>

    <p-button
      class="refund"
      styleClass="p-button-outlined p-button-success"
      label="ŁACZNA ZAPŁACONA KWOTA {{ paidSum }}zł"
    ></p-button>
    <p-button
      class="refund"
      styleClass="{{ checkToPay() }}{{ bookColor }}"
      label="ŁACZNA KWOTA DO ZAPŁATY {{ toPaySum }} {{ checkWarning() }} zł"
    >
    </p-button>
    <p-button
      [hidden]="showWarning"
      class="refund"
      styleClass="p-button-outlined p-button-danger"
      label="KSIĄŻKI DO ODDANIA: {{ activeLoans.length }}"
      icon="pi pi-exclamation-triangle"
    ></p-button>
  </nav>

  <br />
  <p-toggleButton
    (click)="switchContent()"
    onLabel="Zakończ"
    offLabel="Wypożycz "
    class="button-container"
    Icon="pi pi-arrow-down"
    offIcon="pi pi-arrow-up"
    [style]="{ width: '100%' }"
  >
    {{ showAddContent ? "Zakończ" : "Wypożycz" }}
  </p-toggleButton>
  <hr />

  <div class="loans-container" *ngIf="!showAddContent; else addContent">
    <div style="width: 48%">
      <!-- left table -->
      <p-table
        [value]="loansHistory"
        [scrollable]="true"
        scrollHeight="550px"
        styleClass="p-datatable-striped"
      >
        <ng-template
          pTemplate="caption"
          class="name"
          style="text-align: center"
        >
          <h3 style="text-align: center">
            ODDANE KSIĄŻKI
            <p-tag
              value="{{ loansHistory.length }}"
              severity="info"
              [rounded]="true"
            ></p-tag>
          </h3>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="dane">TYTUŁ KSIĄŻKI</th>
            <th class="dane2">DATA PRZYJĘCIA</th>
            <th class="dane2">DATA ODDANIA</th>
            <th class="bttns"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loans>
          <tr>
            <td class="dane">
              <b>{{ loans.Book.nazwa }}</b>
            </td>
            <td class="dane2">
              {{ loans.Loan.dataPrzyjecia.toLocaleString() }}
            </td>
            <td class="dane2">{{ loans.Loan.dataOddania.toLocaleString() }}</td>
            <td class="bttns">
              <!-- ZAPLAC ZA KSIAZKE -->
              <!-- <div *ngIf="loans.Payment?.oplacone ?? false : content"> -->
              <div *ngIf="loans.Payment.oplacone !== true">
                <p-button
                  styleClass="p-button-outlined p-button-success p-button-rounded"
                  icon="pi pi-dollar"
                  label="{{ loans.Payment.kwota }}"
                  (click)="payForLoan(loans.Loan.id)"
                ></p-button>
              </div>
              <!-- CHECKED OPLACONE -->
              <div *ngIf="loans.Payment.oplacone !== false">
                <p-button
                  styleClass="p-button-text p-button-success p-button-rounded"
                  icon="pi pi-check-circle"
                  (click)="payForLoan(loans.Loan.id)"
                ></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- right table -->
    <div style="width: 48%">
      <p-table
        [value]="activeLoans"
        [scrollable]="true"
        scrollHeight="550px"
        styleClass="p-datatable-striped"
      >
        <ng-template
          let-loans
          pTemplate="caption"
          class="name"
          style="text-align: center"
        >
          <h3 style="text-align: center">
            WYPOŻYCZONE KSIĄŻKI
            <p-tag
              value="{{ activeLoans.length }}"
              severity="secondary"
              [rounded]="true"
            ></p-tag>
          </h3>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="dane">TYTUŁ KSIĄŻKI</th>
            <th class="dane2">DATA PRZYJĘCIA</th>
            <th class="dane2">DATA ODDANIA</th>
            <th class="bttns"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loans>
          <tr>
            <td class="dane">
              <b>{{ loans.Book.nazwa }}</b>
            </td>
            <td class="dane2">
              {{ loans.Loan.dataPrzyjecia.toLocaleString() }}
            </td>
            <td class="dane2">--</td>
            <td class="bttns">
              <button
                pButton
                pRipple
                (click)="returnBook(loans.Loan.id)"
                type="button"
                icon="pi pi-arrow-up"
                class="p-button-rounded p-button-outlined p-button-danger p-button-sm"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- wypozyczanie -->
  <ng-template #addContent class="button-container">
    <div style>
      <p-table
        [value]="books"
        [scrollable]="true"
        scrollHeight="550px"
        styleClass="p-datatable-striped"
      >
        <ng-template
          pTemplate="caption"
          class="name"
          style="text-align: center"
        >
          <nav>
            <div class="p-inputgroup" style="flex-direction: row">
              <a style="margin-left: 0px">DOSTĘPNE KSIĄŻKI</a>
              <button
                type="button"
                pButton
                pRipple
                (click)="searchBooks(searchedValue)"
                icon="pi pi-search"
                class="p-button-secondary p-button-outlined"
              ></button>
              <input
                (keydown.enter)="searchBooks(searchedValue)"
                type="text"
                pInputText
                [(ngModel)]="searchedValue"
                ngDefaultControl
                placeholder="Wyszukaj książkę"
                class="p-button-secondary"
                ngDefaultControl
              />
            </div>
          </nav>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="data3">TYTUŁ KSIĄŻKI</th>
            <th class="data3">AUTOR</th>
            <th class="data3">DOSTĘPNOŚĆ</th>
            <th class="bttns"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
          <tr>
            <td class="data3">
              <b>{{ book.nazwa }}</b>
            </td>
            <td class="data3">
              {{ book.autor }}
            </td>
            <td class="data3">
              {{ book.dostepnosc }}
            </td>
            <td class="bttns">
              <button
                pButton
                pRipple
                (click)="loanBook(book.id)"
                type="button"
                icon="pi pi-chevron-down"
                class="p-button-rounded p-button-outlined p-button-success p-button-sm"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</ng-template>
