/* You can add global styles to this file, and also import other style files */
body {
  font-family: Segoe UI;
  background: rgb(218, 218, 218);
  background: linear-gradient(
    90deg,
    rgba(218, 218, 218, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(218, 218, 218, 1) 100%
  );
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
}

a {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
nav {
  text-align: center;
  border-spacing: 10px;
}

.toolbar {
  margin: 5px;
  font-family: Segoe UI;
  margin-top: 5%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
button {
  text-transform: uppercase;
}
.upprText {
  text-transform: uppercase;
}

.dane {
  max-width: 10%;
}

.dane2 {
  max-width: 30%;
}

.bttns {
  max-width: 5%;
}
.bttnsID {
  max-width: 6%;
}

.data1 {
  width: 6%;
}
.p-toolbar {
  color: #ffffff;
  overflow: hidden;
  background: linear-gradient(to top, #5a554d, #8a8885cc),
    url(https://wallpapercave.com/wp/IlpLRYK.jpg) no-repeat center;
  color: white !important;
  text-shadow: 2px 2px 4px #000000;
}

.brnLbl {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.p-button.p-button-help.p-button-outlined,
.p-buttonset.p-button-help > .p-button.p-button-outlined,
.p-splitbutton.p-button-help > .p-button.p-button-outlined {
  background-color: transparent;
  color: white;
  border: 1px solid;
}
.p-button.p-button-help.p-button-outlined:enabled:hover,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:hover {
  background: rgba(190, 187, 187, 0.04);
  color: #777b81;
  border: 1px solid;
}
